body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(171, 240, 248), rgb(12, 48, 216));
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
